{% extends "_layouts/auth.njk" %}

{% block body %}
  <form action="/signin" method="post">
    <img src="/images/logo.svg" />

    <input type="email" name="email" placeholder="Your e-mail" />
    <input type="password" name="password" placeholder="Secret pass" />

    <button type="submit">Sign In</button>
    <a href="/">Create account free</a>
  </form>
{% endblock %}
